<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Blessing's Petitions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a th:href="@{/petitions}">Home</a>
    <a th:href="@{/petitions/create}">Create Petition</a>
    <a th:href="@{/petitions/search}">Search</a>
</nav>

<h1>All Petitions</h1>

<div th:each="p : ${petitions}" class="petition-card">
    <h3>
        <a th:href="@{'/petitions/' + ${p.id}}" th:text="${p.title}"></a>
    </h3>
    <p>Started by: <strong th:text="${p.creatorName}"></strong></p>
</div>

</body>
</html>